/* TRANSITIONS */

/* Remplissage
 *
 * @param {int}     --remplissage       Le pourcentage de remplissage
 * @param {strinf}  --background-color  Le coleur du fond
 * @param {int}     --map-size          La taille des cartes
 */
@keyframes remplissage {
    0% {
        height: 0;
        margin-top: var(--map-size);
    }
    50% {
        height: 0;
        margin-top: var(--map-size);
    }
    100% {
        margin-top: calc(var(--map-size) - (var(--map-size) * var(--remplissage))/100);
        height: calc(var(--map-size) - calc(var(--map-size) - (var(--map-size) * var(--remplissage))/100));
        background: var(--background-color);
    }
}

/* Apparition de l'horloge */
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}

@keyframes delayappear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}

@keyframes rotate {
    0%{
        font-size: 6em;
    }
    75%{
        font-size: 2.2em;
        transform:rotate(420deg);
    }
    100% {

        transform:rotate(360deg);
    }
}

@keyframes slide {
    0% {
        margin-left: 700px;
    }
    100%{
        margin-left: 0;
    }
}
/* FIN TRANSITIONS */