/* TRANSITIONS */

/* Remplissage
 *
 * @param {int} --remplissage   Le pourcentage de remplissage
 * @param {int} --map-size      La taille des cartes
 */
@keyframes remplissage {
    from {
        margin-top: var(--map-size);
        height: 0
    }
    to {
        margin-top: calc(var(--map-size) - (var(--map-size) * var(--remplissage))/100);
        height: calc(var(--map-size) - calc(var(--map-size) - (var(--map-size) * var(--remplissage))/100));
        background: rgba(136, 2, 67, 0.82)
    }
}

/* Apparition de l'horloge */
@keyframes horloge {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
/* FIN TRANSITIONS */