/*  Propriétés de la page   */
html, body{
    min-height : 100%;
    width : 100%;
    margin: 0;
    padding: 0;
}

html{
    background-color: #FAF4E4;
}
/*Fin propriétés de la page */

/* Permet de variabiliser le CSS */
:root {
    --margin-top: 150px;
}
/*********************************/

/* */

.fond {
    width: 150px;
    height: 55px;
    position: absolute;
    animation: remplissage20 2s ease forwards;
    -webkit-animation: remplissage20 2s ease forwards; /* Safari, Chrome and Opera > 12.1 */
}
.france{
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
}

.hide {
    display: none;
}
@keyframes remplissage20 {
    from{
        margin-top: var(--margin-top);
        height: 0
    }
    to{
        margin-top:130px;
        height: calc(var(--margin-top) - 130px );
        background: red
    }
}