/*  Propriétés de la page   */
html, body{
    min-height : 100%;
    width : 100%;
    margin: 0;
    padding: 0;
}

html{
    background-color: #FAF4E4;
}
/*Fin propriétés de la page */

/* Classes réutilisables */
.hide {
    display: none;
}

.fleft {
    clear: both;
    float: left;
}
/* Fin classes réutilisables */

/* Proprités des cartes */
.fond {
    width: 150px;
    height: 55px;
    position: absolute;
    animation: remplissage15 2s ease forwards;
    -webkit-animation: remplissage15 2s ease forwards; /* Safari, Chrome and Opera > 12.1 */
}
.france{
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
}
/* Fin proprités des cartes */
